.article_longform {
  padding: 0;
}

@media (min-width: 768px) {
  .article_more_news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    padding-block-start: 0;
  }
}
