#section_trending article {
  background-color: #fff;
}

@media (min-width: 768px) {
  #section_trending article {
    background-color: #F6F8F9;
  }
  #section_trending .article_swatch {
    background-color: #fff;
    margin-block-start: -2rem;
  }
  #section_trending {
    margin-block-start: 0;
  }
  #section_trending article:nth-of-type(2) ~ article {
    display: none;
  }
}
